/* style.css */

* {
    background-color: #f5f5f5 !important;
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #f5f5f5 !important;
    /* Color de fondo del body */
}


header {
    background-color: #f5f5f5 !important;
    display: flex;
    flex-direction: line;
    flex-flow: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
    justify-content: center !important;
    font-family: "Montserrat Alternates", sans-serif !important;
    text-decoration: none;
    font-size: 36px;
}

nav ul li:not(:last-child):hover {
    transform: scale(1.2);
    /* Agrandar el enlace al 120% de su tamaño original cuando el cursor está sobre él */
}

nav ul li:not(:last-child):hover a {
    font-weight: 1000;
    margin: 20px;
}

.separador-titulo {
    margin-top: 20px;
}

h1 {
    margin-top: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: 800;
}

.tituloh2-muestras {
    font-weight: 800;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

.tituloh3-muestras {
    text-align: center;
    margin-top: 0px;
}

figure {
    text-align: center;
}

figcaption {
    /*Le damos al pie un aspecto tipo "diario/periodico"  */
    font-style: italic;
    color: #555;
}

.contenedor-de-pie {
    margin-left: 20px;
    width: 2090px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.text-block {
    font-size: 24px;
    text-align: justify;
}

.text-bot {
    margin: 0.5em;
    width: 95%;
    font-size: 24px;
    text-align: justify;
}

main.contenedor-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
    padding: 20px;
    /* Espaciado interno del contenedor principal */
}

.muestra-botones {
    display: flex;
    /* or inline-flex */
    flex-direction: line;
    flex-flow: wrap;
    justify-content: space-evenly !important;
}

.contenedor-ind {
    border: 2px solid black;
    /* Borde visible */
    border-radius: 1em;
    padding: 20px;
    /* Espaciado interno */
    margin-top: 40px;
    margin: 20px;
    /* Margen exterior */
    color: #000;
    background-color: rgb(255, 255, 255);
    /* Fondo blanco */
    text-align: center;
    /* Centra el contenido */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
}


.contenedor-basico {
    text-align: center;
    /* Centra el contenido */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;

}


.contenedor-redondel {
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
    /* Borde visible */
    border-radius: 50%;
    padding: 20px;
    /* Espaciado interno */
    margin-top: 40px;
    margin: 20px;
    /* Margen exterior */
    color: #000;
    background-color: rgb(255, 255, 255);
    /* Fondo blanco */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: Courier New;
    color: #ffffff;
    font-size: 35px;
    padding: 10px;
    text-decoration: none;
    border-radius: 100px;
    box-shadow: 0px 1px 3px #666666;
    text-shadow: 1px 1px 3px #666666;
    cursor: pointer !important;
}

.button-green {
    border: 2px solid #1d6b29;
    background: linear-gradient(to bottom, #7fff6b, #007808);
}

.button-blue {
    visibility: visible !important;
    z-index: 999;
    position: relative;
    bottom: 0;
    right: 0;
    border: 2px solid #003366;
    background: linear-gradient(to bottom, #0074e4, #003366);
}

.button-blue:hover {
    border: 2px solid #3595ee;
    color: green !important;
    background: linear-gradient(to bottom, #666666, #000000);
    box-shadow: 0px 4px 20px linear-gradient(to bottom, #0074e4, #003366);
    text-shadow: 1px 2px 10px linear-gradient(to bottom, #0074e4, #003366);
}

.button-blue:active {
    border: 2px solid #3595ee;
    color: #FF69B4 !important;
    background: linear-gradient(to bottom, #ffffff, #666666);
    box-shadow: 0px 4px 20px linear-gradient(to bottom, #0074e4, #003366);
}

.button-red {
    border: 2px solid #ff0000;
    background: linear-gradient(to bottom, #ff9999, #cc0000);
}

.button-yellow {
    color: black !important;
    border: 2px solid goldenrod;
    background: linear-gradient(to bottom, rgb(255, 255, 0), #daa520);
}

.button-yellow:hover {
    border: 2px solid goldenrod;
    color: green !important;
    background: linear-gradient(to bottom, #666666, #000000);
    box-shadow: 0px 4px 20px linear-gradient(to bottom, #ffffe0, #daa520);
    text-shadow: 1px 2px 10px linear-gradient(to bottom, #ffffe0, #daa520);
}

.nula {
    display: none !important;
}

.muestra-menu {
    width: 100%;
    display: flex;
    /* or inline-flex */
    justify-content: flex-start !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffcdd4, #fdb4bf);
    height: fit-content;
    margin-top: 30px;
    padding: 10px;
}

.muestra-menu a:after {
    content: '';
    /*Est es importante porque nos permite espaciar entre los elementos del menú*/
    display: inline-block;
    width: 20px;
    height: 100%;
    background: linear-gradient(to bottom, #ffcdd4, #fdb4bf);
}

.muestra-menu li {
    background: linear-gradient(to bottom, #ffcdd4, #fdb4bf);
    /* Fondo del elemento de la lista, es decir el menú tipo barra que armamos */
}

.muestra-menu a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    /* Eliminar subrayado de los enlaces */
    padding: 15px;
    font-size: 36px;
    /* Tamaño de la fuente */
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, #ffcdd4, #fdb4bf);
    margin: 0;
    /* Eliminar margen para evitar espacios en blanco, que tomarían su referencia por defecto de la definición global "*{}" */
    display: block;
    /* Asegurar que el enlace ocupe todo el espacio del elemento de la lista */
}

.muestra-menu li:hover a {
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(to bottom, #0074e4, #003366);
    /* Cambiar el color del enlace a azul cuando el cursor está sobre el elemento de la lista */
}

.foto-academia {
    height: 300px;
    width: fit-content;
    border-radius: 50%;
    border: 2px solid #ccc;
    align-self: flex-start;
}

.academia-texto-lateral,
.academia-texto-inferior {
    background-color: white;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.academia-texto-inferior {
    width: auto;
    text-align: left;
}

/*
Comenzamos con la información personal
*/

.info-figure-container {
    background-color: #f5f5f5 !important;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.foto-carnet {
    height: 90%;
    width: 100%;
}

.info-pie-de-foto {
    text-align: left;
    font-size: 24px;

}

.personal-texto {
    width: 75vw;
    height: 100vw;
    font-size: 24px;
    text-align: justify;
}

/* Ajustes para el caption */
.caption {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    text-align: center;
}

/*Empezamos con el formulario de contacto*/
@media (max-width: 575.98px) {
    .borrate-style {
        display: none;
    }
}

.contacto {
    align-content: center;
    gap: 20px;
    padding: 20px;
    align-items: center;
    /* Asegura que los elementos se alineen al inicio del contenedor */
}

.formulario {
    flex: 2;
    text-align: center;
    justify-content: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    /* Color de fondo del footer */
    text-align: center;
    padding: 10px 0;
    height: 60px;
    /* Altura del footer */
    align-items: center;
}

.mapa-loco {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.foto-perro {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    cursor: text !important;
    font-size: 18px;
    font-family: cursive;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    position: relative;
    border-radius: 1em;
    margin-top: 5px;
}

.aditamentos {
    height: 2em;
    background-color: #f5f5f5;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
    color: #000;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-family: cursive;
    font-size: 18px;
}

.aditamentos-pendientes {
    height: 2em;
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
    color: rgb(255, 215, 0);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-family: cursive;
    font-size: 18px;
}