@import 'variables';

.aditamentos {
    height: 2em;
    background-color: $white-color;
    border: 1px solid $black-color;
    border-radius: 1em;
    color: $black-color;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-family: cursive;
    font-size: 18px;
}

.aditamentos-pendientes {
    height: 2em;
    background-color: $red-color;
    border: 1px solid $black-color;
    border-radius: 1em;
    color: $yellow-ocre-color;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-family: cursive;
    font-size: 18px;
}