@import 'variables';

.muestra-menu {
    width: 100%;
    display: flex;
    /* or inline-flex */
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: $pink-scale-gradient;
    height: fit-content;
    margin-top: 30px;
    padding: 10px;
    
    a {
      &:after {
        content: '';
        /* Este es importante porque nos permite espaciar entre los elementos del menú */
        display: inline-block;
        width: 20px;
        height: 100%;
        background: $pink-scale-gradient;
      }
    }
  
    li {
      background: $pink-scale-gradient;
      /* Fondo del elemento de la lista, es decir el menú tipo barra que armamos */
      
      a {
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        /* Eliminar subrayado de los enlaces */
        padding: 15px;
        font-size: 36px;
        /* Tamaño de la fuente */
        color: $black-color;
        background: $pink-scale-gradient;
        margin: 0;
        /* Eliminar margen para evitar espacios en blanco, que tomarían su referencia por defecto de la definición global "*{}" */
        display: block;
        /* Asegurar que el enlace ocupe todo el espacio del elemento de la lista */
      }
      
      &:hover {
        a {
          cursor: pointer;
          color: $white-color;
          background: $strong-blue-gradient;
          /* Cambiar el color del enlace a azul cuando el cursor está sobre el elemento de la lista */
        }
      }
    }
  }