@import 'variables';

main.contenedor-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
    padding: 20px;
    /* Espaciado interno del contenedor principal */
  }
  
  .muestra-botones {
    display: flex;
    /* or inline-flex */
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  
  .contenedor-ind {
    border: 2px solid $black-color;
    /* Borde visible */
    border-radius: 1em;
    padding: 20px;
    /* Espaciado interno */
    margin-top: 40px;
    margin: 20px;
    /* Margen exterior */
    color: $black-color;
    background-color: $white-color;
    /* Fondo blanco */
    text-align: center;
    /* Centra el contenido */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
  }
  
  .contenedor-basico {
    text-align: center;
    /* Centra el contenido */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
  }
  
  .contenedor-redondel {
    overflow: hidden;
    border: 2px solid $black-color;
    /* Borde visible */
    border-radius: 50%;
    padding: 20px;
    /* Espaciado interno */
    margin-top: 40px;
    margin: 20px;
    /* Margen exterior */
    color: $black-color;
    background-color: $white-color;
    /* Fondo blanco */
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vacio {   
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white-color;
    /* Color de fondo del footer */
    text-align: center;
    padding: 10px 0;
    height: 80px;
    /* Altura del footer */
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white-color;
    /* Color de fondo del footer */
    text-align: center;
    padding: 10px 0;
    height: 60px;
    /* Altura del footer */
    align-items: center;
}
