@import 'variables';

figure {
    text-align: center;
  }
  
  figcaption {
    /* Le damos al pie un aspecto tipo "diario/periodico" */
    font-style: italic;
    color: $gray-color;
  }
  
  .contenedor-de-pie {
    margin-left: 20px;
    width: 2090px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .text-block {
    animation-name: aparicion-otros;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2.5s;
    animation-delay: 50ms;
    font-size: 24px;
    text-align: justify;
  }
  
  .text-bot {
    animation-name: aparicion-otros;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2.5s;
    animation-delay: 50ms;
    margin: 0.5em;
    width: 95%;
    font-size: 24px;
    text-align: justify;
  }
  

  .personal-texto {
    animation-name: aparicion-otros;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2.5s;
    animation-delay: 50ms;
    font-size: 24px;
    text-align: justify;
}

  .info-figure-container {
    background-color: $white-color;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.foto-carnet {
  animation-name: aparicion-otros;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2.5s;
    animation-delay: 50ms;
    height: 90%;
    width: 100%;
}

.info-pie-de-foto {
  animation-name: aparicion-otros;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2.5s;
    animation-delay: 50ms;
    text-align: left;
    font-size: 24px;

}
.caption {
  width: 100%;
  /* Ocupa todo el ancho disponible */
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  cursor: text;
  font-size: 18px;
  font-family: cursive;
}