.separador-titulo {
    margin-top: 20px;
  }
  
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  
  h2 {
    text-align: center;
    font-weight: 800;
  }
  
  .tituloh2-muestras {
    font-weight: 800;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  
  .tituloh3-muestras {
    text-align: center;
    margin-top: 0px;
  }