//colores

//base colours
$white-color: #ffffff;
$red-color: #ff0000;
$pink-color: #FF69B4;


//relleno
$strong-blue-gradient: linear-gradient(to bottom, #0074e4, #003366);
$strong-green-gradient: linear-gradient(to bottom, #7fff6b, #007808);
$strong-red-gradient: linear-gradient(to bottom, #ff9999, #cc0000);
$strong-yellow-gradient: linear-gradient(to bottom, rgb(255, 255, 0), #daa520);
$light-gray-gradient: linear-gradient(to bottom, #ffffff, #666666);
$dark-gray-gradient: linear-gradient(to bottom, #666666, #000000);


//bordes fuertes
$strong-blue-border: #003366;
$strong-green-border: #1d6b29;
$strong-red-border: #cc0000;
$strong-yellow-border: #daa520;

//bordes light 
$light-blue-border: #3595ee;
$light-green-border: #4e8b4d;
$light-red-border: #ff6666;
$light-yellow-border: #ffd700;

//sombras
$box-shadow-color: #666666;
$text-shadow-color: #666666;

//colores hover
$blue-hover-color: #003366;
$green-hover-color: green;
$yellow-hover-color: #daa520;
$bordo-hover-color: #800000;

//fuentes
$button-font-family: 'Courier New';
$buton-font-size: 35px;
$button-padding: 10px;
$button-border-radius: 100px;




